@media (prefers-color-scheme: light) {
    :root {
        --foreground: #13092b;
        --foreground-bright: #090f2b;
        --foreground-dim: #333;
        --background: #ddd;
        --background-transparent: #f9bbd9cc;
        --error: orange;
        --accent: #f9027a;
        --accent-dim: hsl(331, 50%, 49%);
    }

    .content {
        border-radius: 4px;
    }

    body {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?light=true');
    }

    body.error {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?light=true&error=true');
    }

    .link-list > li.about {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?light=true&small=true&star_colour=%23f9027a');
    }

    .link-list > li.github {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?light=true&small=true&star_colour=%23891ee3');
    }

    .link-list > li.gitea {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?light=true&small=true&star_colour=%23609926');
    }

    .link-list > li.mastodon {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?light=true&small=true&star_colour=%233c99dc');
    }

    .link-list > li.twitch {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?light=true&small=true&star_colour=%236441a5');
    }

    .link-list > li.twitch {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?light=true&small=true&star_colour=%236441a5');
    }

    .link-list > li.nucleoid {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?light=true&small=true&star_colour=%232cab6b');
    }

    .link-list > li.modrinth {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?light=true&small=true&star_colour=%2330b27b');
    }

    .link-list > li.email {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?light=true&small=true&star_colour=%23f9027a');
    }
}
