:root {
    --background: #13092b;
    --background-transparent: #13092baa;
    --background-2: #090f2b;
    --foreground: #ddd;
    --foreground-bright: #fff;
    --foreground-dim: #aaa;
    --error: orange;
    --accent: #f9027a;
    --accent-dim: hsl(331, 50%, 49%);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg');
    color: var(--foreground);
    margin: 0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body.error {
    background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?error=true');
}

@media only screen and (max-width: 720px) {
    body {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?small=true');
    }

    body.error {
        background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?error=true&small=true');
    }
}

a {
    color: var(--foreground);
}

h1 {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1::before {
    content: '# ';
    margin-right: 16px;
    color: var(--foreground-dim);
    font-family: 'JetBrains Mono', 'Oxygen Mono', monospace;
}

h2::before {
    content: '## ';
    color: var(--foreground-dim);
    font-family: 'JetBrains Mono', 'Oxygen Mono', monospace;
}

h3::before {
    content: '### ';
    color: var(--foreground-dim);
    font-family: 'JetBrains Mono', 'Oxygen Mono', monospace;
}

h4::before {
    content: '#### ';
    color: var(--foreground-dim);
    font-family: 'JetBrains Mono', 'Oxygen Mono', monospace;
}

h5::before {
    content: '##### ';
    color: var(--foreground-dim);
    font-family: 'JetBrains Mono', 'Oxygen Mono', monospace;
}

h6::before {
    content: '###### ';
    color: var(--foreground-dim);
    font-family: 'JetBrains Mono', 'Oxygen Mono', monospace;
}

.avatar {
    margin-top: 16px;
    margin-right: 8px;
    border-radius: 50%;
    border: 2px solid var(--accent);
}

.page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

.site-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 16px;
    width: 100%;
    max-width: 720px;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    font-family: monospace;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: var(--foreground-dim);
}

.nav-link:hover {
    color: var(--foreground);
}

.nav-link::before {
    content: "[";
    color: var(--accent-dim);
}

.nav-link::after {
    content: "]";
    color: var(--accent-dim);
}

.nav-link.active {
    color: var(--foreground-bright);
}

.nav-link.active::before {
    content: "[";
    color: var(--accent);
}

.nav-link.active::after {
    content: "]";
    color: var(--accent);
}

.content {
    margin: 16px;
    padding: 8px;
    width: calc(100vw - 32px);
    max-width: 720px;
    flex: 1;
    background-color: var(--background-transparent);
}

.content img {
    max-width: 100%;
    align-self: center;
}

.error .content {
    border-color: var(--error);
}

.footer {
    margin-bottom: 16px;
    text-align: center;
}

.generated {
    font-size: 12px;
}

.word-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.word-column {
    flex: 1;
}

.word-negative {
    color: #aaa;
}

.playing-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.album-art {
    border-radius: 8px;
    border: 2px solid var(--accent-dim);
    margin-right: 8px;
}

.playing-text {
    overflow: visible;
}

.music-bars {
    display: flex;
    flex-direction: row;
    vertical-align: bottom;
    height: 26px;
    margin-top: 8px;
}

.music-bars > span {
    display: block;
    width: 8px;
    margin-left: 8px;
    height: 4px;
    margin-top: 22px;
    background-color: var(--accent);
}

@media (prefers-reduced-motion: no-preference) {
    .music-bars > span {
        animation: music-bar 1s linear infinite;
    }
}

@media (prefers-reduced-motion: reduce) {
    .music-bars > .bar-1 {
        height: 4px;
        margin-top: 22px;
    }

    .music-bars > .bar-3 {
        height: 15px;
        margin-top: 11px;
    }

    .music-bars > .bar-2 {
        animation-delay: 750ms;
        height: 26px;
        margin-top: 0px;
    }
}

.music-bars > .bar-1 {
    animation-delay: 250ms;
}

.music-bars > .bar-3 {
    animation-delay: 500ms;
}

.music-bars > .bar-2 {
    animation-delay: 750ms;
}

@keyframes music-bar {
    from {
        height: 4px;
        margin-top: 22px;
    }

    50% {
        height: 26px;
        margin-top: 0;
    }

    to {
        height: 4px;
        margin-top: 22px;
    }
}

.spotify-widget {
    margin-top: 16px;
}

.link-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-list > li {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--accent);
    width: calc(100% - 16px);
    max-width: 512px;
    margin: 8px;
    display: flex;
    place-content: center;
    background-size: 125%;
    background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?small=true');
}

.link-list > li.about {
    background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?small=true&star_colour=%23f9027a');
}

.link-list > li.github {
    background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?small=true&star_colour=%23891ee3');
}

.link-list > li.gitea {
    background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?small=true&star_colour=%23609926');
}

.link-list > li.mastodon {
    background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?small=true&star_colour=%233c99dc');
}

.link-list > li.twitch {
    background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?small=true&star_colour=%236441a5');
}

.link-list > li.twitch {
    background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?small=true&star_colour=%236441a5');
}

.link-list > li.nucleoid {
    background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?small=true&star_colour=%232cab6b');
}

.link-list > li.modrinth {
    background-image: url('https://ashhhleyyy.dev/assets-gen/background.svg?small=true&star_colour=%2330b27b');
}

blockquote {
    border-left: var(--accent) 2px solid;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 20px;
    margin-inline-start: 10px;
    margin-inline-end: 20px;
    color: var(--foreground-dim);
}

.inline-note {
    user-select: none;
}

blockquote.dialogue {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 0.5em 1em;
}

blockquote.dialogue img {
    user-select: none;
    min-width: 72px;
}

pre {
    overflow-x: auto;
    border: var(--accent) 1px solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 24px;
    background-color: var(--background-2) !important;
    border-radius: 4px;
}

pre::-webkit-scrollbar, code::-webkit-scrollbar {
    height: 8px;
}

pre::-webkit-scrollbar-track, code::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

pre::-webkit-scrollbar-thumb, code::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 2px;
}

pre::-webkit-scrollbar-thumb:hover, code::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-dim);
}

code {
    font-family: 'JetBrains Mono', 'Oxygen Mono', monospace;
    color: #edafb8;
    text-decoration-color: initial;
    border: #ffffff88 1px solid;
    padding: 0.1em 0.2em;
    border-radius: 4px;
    background-color: var(--background-2);
}

a > code {
    text-decoration: underline;
}

pre > code {
    border: none;
    padding: 0;
}

.icon-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 16px 0;
}

.icon-row svg {
    transition: fill 200ms ease;
    fill: white;
}

.hover-email:hover {
    fill: var(--accent);
}

.hover-matrix:hover {
    color: #0DBD8B;
}

.hover-github:hover {
    fill: #24292f;
}

.hover-mastodon:hover {
    fill: #3c99dc;
}

.hover-reddit:hover {
    fill: #ff4500;
}

.hover-twitch:hover {
    fill: #6441a5;
}

.hover-gitea:hover {
    fill: #609926;
}

.hover-kofi:hover {
    fill: #ff5a6a;
}

.icon {
    height: 1.2em;
    fill: var(--foreground-dim);
    vertical-align: sub;
}

.buttons-88x31 picture {
    image-rendering: pixelated;
}

table, th, td {
    border: var(--accent-dim) 1px solid;
}

table {
    border-spacing: 0;
    overflow-x: scroll;
    border-width: 2px;
    border-radius: 4px;
}

td {
    padding: 8px;
}

.fedi-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.fedi-avatar {
    border-radius: 4px;
}
