{% extends "base.html" %}


{% block title %}About{% endblock %}
{% block description %}A girl and some projects{% endblock %}

{% block content %}
<main class="content">
    <h1>
        Ashhhleyyy
    </h1>

    <h2>About</h2>

    <p>
        Hi, I'm <b>Ashley</b> (or <b>Ash</b> for short), and I'm a trans girl from the UK.
        I go by <a href="https://pronouns.page/@ashhhleyyy">she/they</a> pronouns (<a href="/about/words">other words for me</a>).
        I make random projects with Minecraft, Rust and other things.
    </p>

    <p>
        This is my little home in the wild world of the Internets :)
    </p>

    <p>
        You may know me from some of the projects I've worked on and contributed to, including:
        <ul>
            <li>
                <a href="https://modrinth.com/mod/player-pronouns">Player Pronouns</a> - A server-side mod for Minecraft to allow players on a server to share their pronouns.
            </li>
            <li>
                <a href="https://nucleoid.xyz/">NucleoidMC</a> - An open source Minecraft minigames server
            </li>
        </ul>
    </p>

    <p>
        If you want to contact me, then you can find me in some of the places below:
        <ul>
            <li>
                Email (other): contact [at] &lt;this domain&gt;
            </li>
            <li>
                Email (personal): ash [at] &lt;this domain&gt;
            </li>
            <li>
                <a rel="me" href="https://matrix.to/#/@ash:shorks.gay">Matrix</a>: @ash:shorks.gay
            </li>
            <li>
                <a rel="me" href="https://fedi.shorks.gay/@ash">The Fediverse</a>: @ash@shorks.gay
            </li>
            <li>
                <a rel="me" href="https://github.com/ashhhleyyy">GitHub</a>: ashhhleyyy
            </li>
        </ul>
    </p>

    <p>
        I also enjoy listening to <a href="/about/music">Music</a>.
    </p>
</main>
{% endblock %}
