{% extends "base.html" %}

{% block title %}Attribution{% endblock %}
{% block description %}Things that make this website work{% endblock %}

{% block content %}
<main class="content">
    <h1>Attribution</h1>

    <p>
        Powered by <a href="https://rust-lang.org">Rust</a>, running on a Raspberry Pi 4.
    </p>

    <p>
        <h2>Characters</h2>
        <ul>
            <li>My profile picture is from <a href="https://picrew.me/en/image_maker/1904634/">this picrew</a>.</li>
            <li>Leah's profile picture is also from <a href="https://picrew.me/en/image_maker/1904634/">the same picrew</a>.</li>
        </ul>
    </p>

    <p>
        The code for this website is <a href="https://github.com/ashhhleyyy/website">on GitHub</a>
    </p>
</main>
{% endblock %}
