{% extends "base.html" %}

{% block title %}Blog > {{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block content %}
<main class="content blog-post">
    <h1>{{ title }}</h1>

    {% if let Some(spoiler) = spoiler %}
    <div class="spoiler-container">
        <section class="spoiler">
            <h2>Spoiler warning</h2>
            <p>{{ spoiler }}</p>
            <label>
                <input type="checkbox" autocomplete="off">
                I am happy to see these spoilers.
            </label>
        </section>
    </div>
    {% endif %}

    {{ content|safe }}

    <footer>
        <blockquote>
            <p>
                Posted on {{ date }} by <a href="/">Ashhhleyyy</a>.
            </p>
        </blockquote>
    </footer>
</main>
{% endblock %}
