{% extends "base.html" %}


{% block title %}Blog{% endblock %}
{% block description %}Random words I write for people to read{% endblock %}

{% block content %}
<main class="content">
    <h1>Blog</h1>

    <dialogue character="leah" mood="happy">
        You can add this blog to your reader as an <a href="/blog.rss">RSS</a> or <a href="/blog.atom">atom</a> feed!
    </dialogue>

    <p>
        I write things sometimes, and then I post them here:
    </p>

    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ post.url() }}">
                    {{ post.date() }}: {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
