{% extends "base.html" %}

{% block title %}Photos > {{ title }}{% endblock %}
{% block description %}Taken on {{ date }}{% endblock %}

{% block content %}
<main class="content gallery">
    <h1>{{ title }}</h1>

    {% if let Some(spoiler) = spoiler %}
    <div class="spoiler-container">
        <section class="spoiler">
            <h2>Spoiler warning</h2>
            <p>{{ spoiler }}</p>
            <label>
                <input type="checkbox" autocomplete="off">
                I am happy to see these spoilers.
            </label>
        </section>
    </div>
    {% endif %}

    {{ content|safe }}

    <blockquote>
        <em>Hint: Click on images to view them at full size.</em>
    </blockquote>

    <div class="gallery-photos">
        {% for photo in photos %}
            <figure>
                <img src="/assets/images/galleries/{{ slug }}/{{ photo.filename }}" alt="{{ photo.alt }}" loading="lazy" data-clickable>
                {% if let Some(caption) = photo.caption %}
                <figcaption>{{ caption }}</figcaption>
                {% endif %}
            </figure>
        {% endfor %}
    </div>
</main>
{% endblock %}
