{% extends "base.html" %}

{% block title %}Links{% endblock %}
{% block description %}A girl and some projects{% endblock %}

{% block content %}
<main class="content">
    <h1>Ashhhleyyy</h1>

    <ul class="link-list">
        <li class="about">
            <a href="/about">About me</a>
        </li>
        <li class="github">
            <a href="https://github.com/ashhhleyyy">GitHub</a>
        </li>
        <li class="gitea">
            <a href="https://git.ashhhleyyy.dev">Gitea</a>
        </li>
        <li class="mastodon">
            <a href="https://fedi.ashhhleyyy.dev/ash">The Fediverse</a>
        </li>
        <li class="twitch">
            <a href="https://twitch.tv/ashle3eyyy">Twitch</a>
        </li>
        <li class="nucleoid">
            <a href="https://nucleoid.xyz">NucleoidMC</a>
        </li>
        <li class="modrinth">
            <a href="https://modrinth.com/user/Ash">My mods</a>
        </li>
        <li class="email">
            <a href="mailto:contact@ashhhleyyy.dev">Email</a>
        </li>
    </ul>
</main>
{% endblock %}
